<div class="wrapper">
  <div class="bg-dark">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-md navbar-expand-sm navbar-dark">
        <div class="container">
            <h1><a class="navbar-brand" href="#">TASK MANAGER</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/project">Add Project</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/create">Add Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user">Add User</a>
                  </li>            
                <li class="nav-item">
                  <a class="nav-link" routerLink="/list">View Task</a>
                </li>
              </ul>
            </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="">
    <div class="col-md-12">
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>